{# templates/bandes/ajouter.html.twig #}

{% extends 'admin.html.twig' %}

{% block title %}Ajouter une bande{% endblock %}

{% block Body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ajouter une bande</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.numbande) }}
                        {{ form_widget(form.numbande, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.Label) }}
                        {{ form_widget(form.Label, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.datedebut) }}
                        {{ form_widget(form.datedebut, {'attr': {'class': 'form-control datetimepicker-input'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.datefin) }}
                        {{ form_widget(form.datefin, {'attr': {'class': 'form-control datetimepicker-input'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dureederetension) }}
                        {{ form_widget(form.dureederetension, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.pool) }}
                        {{ form_widget(form.pool, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.arm) }}
                        {{ form_widget(form.arm, {'attr': {'class': 'form-control', 'data-toggle': 'dropdown'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
