{% extends 'admin.html.twig' %}

{% block Body %}
<style>
    label {
        font-weight: bold;
        color: blue; /* 'blue' ne sera pas reconnu, utilisez une couleur CSS valide */
        text-transform: uppercase;
    }
</style>

<div class="page-wrapper">
    <div class="container-fluid">

        <div class="row justify-content-center"> <!-- Alignement au centre -->

            <div class="col-lg-6"> <!-- Utilisez une classe de grille pour le dimensionnement -->
                <div class="card"> <!-- Ajoutez la classe 'card' pour le style de carte -->
                    <div class="card-body">

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                        <div class="mb-3">
                            {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom '}}) }}
                            {{ form_errors(form.nom) }}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.description, "Description", {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                            {{ form_errors(form.description) }}
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary mt-3" type="submit">{{ button_success|default('sauvegarder') }}</button>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
